---
---
/*.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
*/

@import 'burger';

.menu-button {
	display: inline-block;
	// padding: .5em;
	padding: 0;
	// background-color: #fafafa;
	// border: 1px solid #ccc;
}

.burger-icon {
	@include burger(25px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}

.wrapper {	
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, nav, footer {
    flex-shrink: 0;
}


/* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
main {
    flex: 1 0 auto; 
}

/*.top-bar-left {
	padding: 30px 0 30px 0;
}*/
.top-strip
{
	width: 100%;
	background-color: #477fbb;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;
}

.top-strip-small
{
	background-color: #477fbb;
	height: 10px;
}

@media screen and (min-width: 40em) {
	.top-strip-small {
		display: none;
	}
}
@media screen and (max-width: 40em) {
	.top-strip {
		display: none;
	}
}

.top-bar {
	color: #477fbb;
	padding: 0 32px 0 32px;
}

@media screen and (min-width: 40em) {
	.no-js .title-bar {
	    display: none;
	}
}
@media screen and (max-width: 40em) {
.no-js .top-bar {
    display: none;
}
.title-bar {
	max-height: 40px;
}
}

.title-bar {
	max-height: none;
	color: #477fbb;
	background-color: #e6e6e6;
	font-size: 5vw;
	font-weight: bold;
}

#some-div {
	float: left;
	margin-right: 10px;
	height: 35px !important;
	width: 35px !important;
	background-image: url(../img/logo-crop-small.png);
	background-size: cover;
}

#logo {
	object-fit: contain;
	height: 100%;
}

#img-div {
	height: 100%;
}
#logo-small {
	object-fit: contain;
	height: 30px;
	// height: 100%;
	// max-height: 35px;
}

@media screen and (max-width: 40em) {
	.no-js #logo-small {
	    display: none;
	}
}



.top-bar-left {
	display: none;
}

.top-bar-right {
	padding: 20px 0 20px 0;
}

.top-bar ul li {
	border-top: 1px solid rgb(200,200,200);
}


@media screen and (min-width: 40em) {

.top-bar-left {
	display: block;
	padding-top: 10px;
}

.top-bar-right {
	padding: 0;
}

.top-bar-right ul  {
	background-color: transparent;
	border: none;
}


.top-bar {
	padding: 0px 80px 0 40px;
	height: 80px;
	background-color: rgba(230, 230, 230, 0.9);
}

// .top-bar #logo {
// 	object-fit: contain;
// 	height: 100%;
// }

.top-bar {
	font-size: 32px;
}



.top-bar ul a {	
	height: 100%;
	line-height: 80px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	color: #6A696A;	
	border-bottom: 1.5px solid rgb(230,230,230);
	transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.top-bar ul a:hover {
  color: white;
  border-bottom: 2px solid #3085aa;
}
}

#bg-image {
	height: 350px;
	background-image: url(../img/lab_small.jpg);
	background-size: cover;
}

@media screen and (max-width: 40em) {
	#bg-image {
		margin-top: 40px;
	}
}

/* top, right, bottom, left */
.footer1 {
	padding: 30px 0 30px 0;
	color: rgb(221,221,221);
	background-color: rgb(11, 28, 36);
}

@media screen and (max-width: 40em) {
	#contact {
		padding-top: 30px;
	}
}

.footer2 {
	padding: 2px 0 2px 0;
	font-size: 12px;
	color: rgb(238, 238, 238);
	background-color: rgb(92, 95, 95);
}

@media screen and (min-width: 40em) {
.footer2 {
	padding: 15px 0 15px 0;
	font-size: 16px
}
}

.footer2 a {
	color: #72aed6;
}

.footer2 a:hover {
	color: #1468a0;
}

.footer2 li {
    border-right: 1px solid rgb(120,120,120);
}
.footer2 li:last-child{
    border: 0;
}

.footer2 a {
	padding-left: 8px;
	padding-right: 8px;
}

/*.yourclass{
    border: 1px solid rgba(255, 255, 255, 1);
    &:last-child{
        border: 0;
    }
}*/

@media screen and (max-width: 40em) {
#footer-menu {
   display: none;
  }
}
