/*.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
*/

.wrapper {	
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, nav, footer {
    flex-shrink: 0;
}


/* Use 1 0 auto instead of just 1 for backwards compatibility with other browsers */
main {
    flex: 1 0 auto; 
}

/*.top-bar-left {
	padding: 30px 0 30px 0;
}*/

@media screen and (min-width: 40em) {
.top-bar {
	padding: 0 80px 0 80px;
	height: 80px;
}


.top-bar ul a {	
	height: 100%;
	line-height: 80px;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 13px;
	font-weight: bold;
	color: #6A696A;	
	border-bottom: 1.5px solid rgb(230,230,230);
	transition: color 0.4s ease-in-out, border 0.4s ease-in-out;
}

.top-bar ul a:hover {
  color: white;
  border-bottom: 2px solid #3085aa;
}
}


/* top, right, bottom, left */
.footer1 {
	padding: 30px 0 30px 0;
	color: rgb(221,221,221);
	background-color: rgb(11, 28, 36);
}

.footer2 {
	padding: 15px 0 15px 0;
	color: rgb(238, 238, 238);
	background-color: rgb(92, 95, 95);
}