---
layout: default
PIs:
- name: Richard (Jaepyong) Cha, Ph.D.
  imgpath: img/cha.jpg
- name: Itai Katz, Ph.D.
  imgpath: img/katz_small.jpg
Staffs:
- name: Bo Ning, Ph.D.
  imgpath: img/bo_ning.jpg
- name: L.K. (Lung Wai) Lau, M.D.
Interns:
- name: Corey Zheng
  affiliation: (GA Tech, 2019)
Alumni:
- name: Annie Wang
  affiliation: (Princeton University, 2019)

<!--css: css/index.css-->
---
<!-- http://placehold.it/962x1280 -->
 <div class="heading-wrapper">
	<h3 class="heading-text">Team</h3> 
	<div class="heading-bar-outer">		 
		<div class="heading-bar-inner"></div>
	</div>
</div>

<div class="grid-x grid-padding-y" >

<div class="cell small-12">
<h2> Principal Investigators </h2>
<div class="grid-x grid-padding-x" >
	{% for PI in page.PIs %}
	<div class="cell small-6 medium-3">
		<img src="{{ PI.imgpath }}"/><br>
		{{ PI.name }}
	</div>
	{% endfor %}
</div>
</div>

<div class="cell small-12">
<h3>Staff</h3>
<div class="grid-x grid-padding-x align-bottom" >
{% for Staff in page.Staffs %}
	<div class="cell small-6 medium-3">
		{% if Staff.imgpath %}
		<img src="{{ Staff.imgpath }}"/><br>
		{% endif %}
		{{ Staff.name }}
	</div>
{% endfor %}
</div>
</div>

<div class="cell small-12">
<h3>Interns</h3>
<div class="grid-x grid-padding-x align-bottom" >
{% for Intern in page.Interns %}
	<div class="cell small-6 medium-3">
		{% if Intern.imgpath %}
		<img src="{{ Intern.imgpath }}"/><br>
		{% endif %}
		{{ Intern.name }}<br>
		{% if Intern.affiliation %}
		{{ Intern.affiliation }}
		{% endif %}
	</div>
{% endfor %}
</div>
</div>

<div class="cell small-12">
<h3>Former staff</h3>
<div class="grid-x grid-padding-x align-bottom" >
{% for alum in page.Alumni %}
	<div class="cell small-6 medium-3">
		{{ alum.name }}<br>
		{% if alum.affiliation %}
		{{ alum.affiliation }}
		{% endif %}
	</div>
{% endfor %}
</div>
</div>

</div>