<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vision & Robotics Laboratory</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.1/dist/css/foundation.min.css" integrity="sha256-5B4hbMU9OJUxbUEvafv7D53WeubxzKZBqPfQNMh6Iw8= sha384-n7bC26QCtUZ5T9AHXtZrl7FcPQL5BkGi/JXbs6FVnUexlfniI0xH42VZxa4OxPD1 sha512-AnfTqiknRiK8BIwGSIegiguDX0838ShwXn8bEmTGPb31OPyYMzBbtnuekO6qSFzP/J8a0bMe4V6FcfM7n/YONQ==" crossorigin="anonymous">

	<link rel="stylesheet" href="css/default.css">
	{% if page.css %}
	<link rel="stylesheet" href="{{ page.css }}">
	{% endif %}

</head>

<body>

<!-- <div class="off-canvas-wrapper"> -->
<!-- <div id="off-canvas" class="off-canvas position-left" data-off-canvas>My Off-Canvas</div> -->
<!-- <div class="off-canvas-content" data-off-canvas-content> -->
<div class="wrapper">



 <div data-sticky-container>

	<div class="top-strip"></div>
	<div class="title-bar" data-sticky data-options="marginTop:0;" data-responsive-toggle="responsive-menu" data-hide-for="medium">
	<div style="margin: 0 auto">
	<a href="index.html">
	<img id="logo-small" src="img/logo-crop-small.png"/>
	Vision & Robotics Laboratory
 	</a>
 	</div>
	<a href="#" class="menu-button" id="menuButton" type=
	button" data-toggle="responsive-menu">
    <span class="burger-icon"></span>
	</a>
	</div>

	<div class="top-bar" data-options="marginTop:0;" id="responsive-menu">
		<div class="top-bar-left">
			<a href="index.html">
			<img id="logo" src="img/logo-crop.png"/>
			Vision & Robotics Laboratory
			</a>
		</div>
		<div class="top-bar-right">
			<ul class="vertical medium-horizontal menu" data-dropdown-menu>
			<!-- <li><a href="index.html">Home</a></li> -->
			<li><a href="team.html">Team</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="papers.html">Papers</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>

</div>

	<main>

	<div id="bg-image" class="slide" data-slide="2" data-stellar-vertical-offset="0" data-stellar-background-ratio=".5">
	</div>

	{{ content }}

	</main>

	<footer class="footer1">
	<div class="grid-container">
	<div class="grid-x">
		<div id="contact" class="cell small-12 small-order-2 medium-4 medium-offset-1 medium-order-1">
		<span style="color: rgb(145, 145, 145); font-size: 13px; letter-spacing: 1px">CONTACT US</span><br>
		111 Michigan Ave. NW, Washington, DC 20010<br>
		Attn: Itai Katz, M7708, SZI 6th floor<br>
		PH: 202-476-6426<br>
		ikatz@childrensnational.org<br>
		</div>
		<div class="cell small-12 small-order-1 medium-4 medium-offset-1 medium-order-2">
		<span style="color: rgb(145, 145, 145); font-size: 13px; letter-spacing: 1px">RECENT NEWS</span><br>
		{% assign news = site.data.news.first %}
		{{news.date}}:<br>{{news.text}}<br>
		<a href="news.html"> More news... </a>
		</div>
	</div>
	</div>
	</footer>

	<footer class="footer2">
	<div class="grid-container">
	<div class="grid-x">
		<div class="cell small-12 medium-4 text-center medium-text-left align-self-middle">Copyright © 2018 - Itai Katz</div>
		<div class="cell auto" id="footer-menu">
			<ul class="menu align-right">
			<li><a href="index.html">Home</a></li>
			<li><a href="team.html">Team</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="papers.html">Papers</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
			</ul>
 		</div>
	</div>
	</div>
	</footer>

</div>
<!-- </div> -->


	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>

	<!-- Compressed JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.1/dist/js/foundation.min.js" integrity="sha256-wTcu2ZVTDMsVW8yIi4MAEPKsX04ZNW4Ahr0xZtFaBOA= sha384-jeQsPA9S1co5+XspMVKVhtst1k8mzjk63i2h2rtMEpZBOVE5i22Gdjj8IF7x8e1R sha512-th5Nh7lAgv9W5pWVbKvGpb5o0NUA/ozLF7f9uxboNqVyn5DG/azSVE8k0lKR2w7Ww648/Wnb4CsgPO4SZ7OdTw==" crossorigin="anonymous"></script>

	<script src="js/jquery.stellar.min.js"></script>
	{% for js in page.jslib %}
		<script src="{{ js }}"></script>
	{% endfor %}
 	
	<script>
		$(document).foundation();
		$.stellar({
			horizontalOffset: 0,
			verticalOffset: 0,
			responsive: true
		});

		$(window).ready(updateHeight);
		$(window).resize(updateHeight);

		function updateHeight()
		{
		    var div = $('#bg-image');
		    var width = div.width();
		    
		    div.css('height', 0.3*width);
		}

		var menuButton = document.getElementById('menuButton');
		menuButton.addEventListener('click', function (e) {
			menuButton.classList.toggle('is-active');
			e.preventDefault();
		});


	</script>

	{% if page.js %}
		<script src="{{ page.js }}"></script>
	{% endif %}

</body>
</html>